*.png
*.csv
*.xlsx
*.env
*.parquet
*.pkl
*.joblib

__pycache__/
*.log
*.tmp
*.bak

/.vscode/
/dataproc/
/alphaearth_exports/
/outputs/

/data/raw/*
/data/processed/*
/data/external/*
!/data/README.md
!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/data/external/.gitkeep

/app/webapp_tmrt_montpellier/scenario-data.js
/app/webapp_tmrt_montpellier/heatmap_tiles/
/app/webapp_tmrt_montpellier/heatmap_value_tiles/

!/analyse_exploratoire/figures/
!/analyse_exploratoire/figures/**

!/prediction/figures/
!/prediction/figures/**

!/rapport/s1/
!/rapport/s1/**
