*.png
*.csv
*.xlsx
*.env
*.parquet
*.pkl
*.joblib

__pycache__/
*.log
*.tmp
*.bak
*.aux
*.bbl
*.bcf
*.blg
*.fls
*.fdb_latexmk
*.out
*.run.xml
*.synctex.gz
*.toc

/.vscode/
/dataproc/
/alphaearth_exports/
/outputs/

/data/raw/*
/data/processed/*
/data/external/*
!/data/README.md
!/data/raw/.gitkeep
!/data/processed/.gitkeep
!/data/external/.gitkeep

!/analyse_exploratoire/figures/
!/analyse_exploratoire/figures/**

!/prediction/figures/
!/prediction/figures/**

!/rapport/s1/
!/rapport/s1/**
